@{
    ViewData["Title"] = "Add Quote";
}
@model Quotes.Models.Quote

<h1>Add a Quote</h1>

<form method="post" class="form-group">

    <div asp-validation-summary="All"></div> 
    @* shows validation summary/lets you know if there are any errors *@

    <label class="col-form-label" asp-for="quote">Quote:</label>
    <input id="title" asp-for="quote">
    <br>

    <label class="col-form-label" asp-for="author">Author:</label>
    <input id="title" asp-for="author">
    <br>

    <label class="col-form-label" asp-for="date">Date:</label>
    <input id="year" asp-for="date">
    <br>

    <label class="col-form-label" asp-for="subject">Subject:</label>
    <input id="director" asp-for="subject">
    <br>

    <label class="col-form-label" asp-for="citation">Citation:</label>
    <input id="rating" asp-for="citation">
    <br>

    <input class="btn btn-outline-primary" type="submit" id="btnSend" value="Submit">
</form>
